/* delete the icon in cid */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    /* margin: 0; */
}
input[type=number]{
    -moz-appearance: textfield;
}


/* start styling */
body {
    min-height: 1150px;
    font-family: sans-serif;
    /* background-color: #353b48;     */
    background-image: url(../images/HCB.jpg);
    background-size: cover;
}
a img{
    padding-top: 8px;
}
a span{
    padding-top: 70px;
}
.container h1{
    color: #1e272e;
    text-transform: uppercase;
    /*font-weight: 500;*/
    padding-bottom: 10px;
}


.container{
    color:#dfe6e9 ;
    width: 400px;
    /* height: 830px; */
    padding: 40px 20px;
    margin-top: 200px;
    margin-bottom: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../images/H9.jpg);
    background-size: cover;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 10px 8px 0px #3d3d3d;
}
input{
    border: 0;
    border: 2px solid  #b2bec3;
    border-radius: 24px;
    width: 200px;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 10px;
    outline: none;
    color: white;
    transition: 0.25s;
}
input:hover{
    width: 250px;
    border-color:#d1d8e0;
}
input[type="submit"]{
    width: 150px;
}
input[type="submit"]:hover{
    width: 180px;
    background-color:#CAD3C8;
    color:#3d3d3d;
}

