{% extends 'layout.html' %}




   {% block head %}
        <link rel="stylesheet" href="../static/CSS_master/login.css">

    {% endblock %}

{% block content %}


    <form class="box" action="/login" method="POST" >
        <h1> Login </h1>
        <input type="text" name="E_mail" placeholder="E-mail">
        <input type="password" name="Password" placeholder="password">
        <div class="container">
            <input class="button" type="submit" name="login" value="login">
          </div>
    </form>

{% endblock %}

